h1 {
    color: #008000; /* Dark green heading color */
    text-align: center;
    margin-top: 20px;
}

.main {
    margin: auto;
    width: 80%;
    padding: 20px;
    background-color: #ffffff; /* White content background color */
    box-shadow: 5px 5px 5px #888888; /* Add shadow to content */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.CatalogContainer {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
    max-width: 800px;
    margin: auto;
}

.CatalogEntities {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.CatalogEntity {
    width: calc(33.33% - 10px);
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.CatalogImage {
    width:  170px;
    height: 170px;
    object-fit: contain;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
}

.CatalogEntityTitle {
    margin-top: 10px;
    text-align: center;
    font-size: 18px;
}

.CatalogEntityButton {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
    text-decoration: none;
}

.CatalogEntityButton:hover {
    background-color: #3e8e41;
}
